<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Notes</title>
</head>
<body>
    <form action="{{ url_for('add_note') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="content" placeholder="Content" required></textarea>
        <button type="submit"> Add Note </button>
    </form>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Note</th>
            <th>Action</th>
        </tr>

        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.title }}</td>
                <td> {{ note.content }} </td>
                <td>
                    <a href="/edit_note/{{ note.id }}"> [Edit] </a>
                    <a href="/delete_note/{{ note.id }}"> [Delete] </a>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>